<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.inspire.clubspire_02" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"

        android:icon="@drawable/icon_clubspire"
        android:label="@string/app_name"
        android:description="@string/app_name"
        android:logo="@drawable/icon_clubspire"
        android:theme="@style/AppTheme"
>

        //login activity
        <activity
            android:name=".MainActivity"
            android:label="Přihlášení">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        //register activity
        <activity
            android:name=".RegisterActivity"
            android:label="Registrace"
            android:parentActivityName=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        //main menu activity
        <activity
            android:name=".MainMenuActivity"
            android:label="Menu"
            android:parentActivityName=".MainActivity">
            >


            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>


        //reservation 01 activity
        <activity
            android:name=".Reservation01Activity"
            android:label="Rezervace 1/3"
            android:parentActivityName=".MainMenuActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        //reservation 02 activity
        <activity
            android:name=".Reservation02Activity"
            android:label="Rezervace 2/3"
            android:parentActivityName=".Reservation01Activity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //reservation 03 activity
        <activity
            android:name=".Reservation03Activity"
            android:label="Rezervace 3/3"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".Reservation02Activity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        //list reservation activity
        <activity
            android:name=".ListReservationActivity"
            android:label="Seznam rezervací"
            android:parentActivityName=".MainMenuActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //view reservation activity
        <activity
            android:name=".ViewReservationActivity"
            android:label="Správa rezervace"
            android:parentActivityName=".ListReservationActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //hint activity
        <activity
            android:name=".HintActivity"
            android:label="Nápověda"
            android:parentActivityName=".MainMenuActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //Login activity - test
        <activity
            android:name="cz.inspire.clubspire_02.APIResources.LoginActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="http://netspire.net:6868/oauth"
                    android:scheme="your" />
            </intent-filter>

        </activity>

    </application>

</manifest>
